.bicicletas-home {
    padding-top: 60px;
    padding-bottom: 120px;
}

.bicicletas-home h2 {
    margin-bottom: 40px;
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    font: 600 4rem/1.125 "Poppins", sans-serif;
}

.bicicletas-home ul {
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

.bicicletas-home li {
    flex: 1;
    min-width: 280px;
}
  
  .bicicletas-home a {
    display: block;
}
  
  .bicicletas-home img {
    margin-bottom: 16px;
}
  
  .bicicletas-home h3 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    font: 600 2rem/1.25 "Poppins", sans-serif
}

.bicicletas-home h3::before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    margin-right: 8px;
    background-color: var(--cor14);
    transition: width 0.2s;
}

.bicicletas-home a:hover h3::before {
    width: 24px;
}
  
  .bicicletas-home li span {
    padding-left: 20px;
    font: 500 1.125rem/1.35 "Roboto", sans-serif;
    color: var(--cor8);
}