.footer-bg {
    background-color: #000000;
}

.footer-contato h3 {
    color: white;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: lighter;
}

.footer-contato li {
    line-height: 32px;
    color: #b2b2b2;
    font-family: 'Roboto';
    font-size: 18px;
}

.footer-informacoes li {
    color: #b2b2b2;
    margin-top: 16px;
    font-family: 'Poppins';
    font-size: 18px;
}

.footer-informacoes h3 {
    color: white;
    margin-top: -40px;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: lighter;
}

.footer-redes {
    display: flex;
    gap: 32px;
    margin-top: 19px;
}

.footer-copy {
    grid-column: 1/-1;
    color: #9c9c9c;
    padding: 80px 0px 32px 220px;
}

.footer-contato li:nth-child(even):after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: #111111 ;
    margin-top: 16px;
}

.footer a:hover {
    color: white;
}

.bikcraft {
    margin-top: -210px;
    margin-left: -150px;
}

.footer-informacoes {
    margin-right: 272px;
}
